header{
    margin-top: 5%;
    text-align: center;
    box-shadow: 5px 5px 4px #373A36;
}
nav{
    border-radius: 15px 15px 0 0;
    border-top: 1px solid black;
    border-bottom: 3px solid black;
    padding: 5%;
    background-image: url("../img/wall-2396055_1920.jpg");
}
nav a{
    margin: 0 2%;
    opacity: 0.9;
    font-size: 2em;
    background-color: #373A36;
    display: inline-block;
    border: 4px solid #373A36;
    position: relative;
    padding-bottom: 5%;
    border-radius: 50%;
    min-width: 14%;
    padding-top: 5%;
    text-align: center;
    text-decoration: none;
    font-family: Arial, Helvetica, sans-serif;
    color:#E6E2DD;
    transition: opacity 0.5s;
}
nav a:hover{
    opacity: 1;
}
.current{
    background-color: #E6E2DD;
    color: #373A36;;
}
body{
    background-color: #E6E2DD;
    padding: 0 5% 1% 5%;
}
main{
    padding: 2em 0%;
    height: auto;
    padding-bottom: 10%;
    color: #E6E2DD;
    background-color: #D48166;
    box-shadow: 5px 5px 4px #373A36;
}
h1{
    text-shadow: 0px 2px #373A36;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 3.5em;
}
h2{
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 3em;
    text-shadow: 0px 2px #373A36;
}
main p{
    text-shadow: 0px 2px #373A36;
    text-align: center;
    font-size: 2.5em;
    
}
footer{
    text-align: center;
}
main>a{
    border-radius: 5%;
    background-color: #373A36;
    margin: 2%;
    padding: 1em 2% 1em 2%;
    display: inline-block;
}
main>a img{
    max-width: 100%;
    border: solid 3px black;
    border-radius: 50%; 
}
#myworks{
    padding: 3% 24%;
}
a{
    text-decoration: none;
    color: #E6E2DD;
}
a:hover{
    opacity: 0.90;
}
footer{
    padding-top: 100px;
}
.left{
    border-top-right-radius: 25px;
    border-bottom-right-radius: 25px;
    margin: 0px 2% 0 0;
    padding: 10% 2% 2%;
    float: left;
    max-width: 250px;
    background-color: #373A36;
}
aside img{
    border: solid 3px black;
    max-width: 100%;
}

.right{
    margin: 0 20%;
    display:inline;
}
#rightID{
    padding-right: 10%;
}
aside img{
    margin-bottom: 3em;
}
#rocketImg{
    margin-top: 50%;
}
.gallery{
    display: inline-block;
    max-width: 100%;
}
.desc{
    text-align: center;
    font-size: 2.5  em;
}
div a img{
    margin-left: 30%;
    border: solid 2px black;
}
div p{
    border-radius: 10%;
    background-color: #373A36;
    border: solid 2px black;
    margin-left: 90px;
    max-width: 250px;
    box-shadow: 5px 5px 4px #373A36;
}
.programmingpage{
    margin-left: 10%;
}
h2 img{
    max-width: 100%;
    height: auto;
    box-shadow: 5px 5px 4px #373A36;
}
h2 a{
    border-radius: 0 0 25% 25%;
    padding: 1% 4%;
    background-color: #373A36;
}
p>a{
    background-color: #373A36;
}
main>img{
    display:block;
    margin-left: auto;
    margin-right: auto;
}

