header{
    margin-top: 5%;
    text-align: center;
    box-shadow: 5px 5px 4px #373A36;
}
nav{
    border-radius: 15px 15px 0 0;
    border-top: 1px solid black;
    border-bottom: 3px solid black;;
    padding: 50px;
    background-image: url("../img/wall-2396055_1920.jpg");
}
nav a{
    margin: 0 15px;
    opacity: 0.9;
    font-size: 20px;
    background-color: #373A36;
    display: inline-block;
    border: 4px solid #373A36;
    border-radius: 50%;
    min-width: 135px;
    min-height: 70px;
    padding-top: 55px;
    text-align: center;
    text-decoration: none;
    font-family: Arial, Helvetica, sans-serif;
    color:#E6E2DD;
    transition: opacity 0.5s;
}
nav a:hover{
    opacity: 1;
}
.current{
    background-color: #E6E2DD;
    color: #373A36;;
}
body{
    background-color: #E6E2DD;
    padding: 0 20% 1% 20%;
}
main{
    padding: 40px 0;
    height: auto;
    padding-bottom: 100px;
    color: #E6E2DD;
    background-color: #D48166;
    box-shadow: 5px 5px 4px #373A36;
}
h1{
    text-shadow: 0px 2px #373A36;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 50px;
}
h2{
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 40px;
    text-shadow: 0px 2px #373A36;
}
main p{
    text-shadow: 0px 2px #373A36;
    text-align: center;
    font-size: 35px;
    
}
footer{
    text-align: center;
}
main>a{
    border-radius: 5%;
    background-color: #373A36;
    margin: 0 4.6%;
    padding: 15px 30px;
    display: inline-block;
}
main>a img{
    border: solid 3px black;
    border-radius: 50%; 
}
a{
    text-decoration: none;
    color: #E6E2DD;
}
a:hover{
    opacity: 0.90;
}
footer{
    padding-top: 100px;
}
.left{
    border-top-right-radius: 25px;
    border-bottom-right-radius: 25px;
    margin: 0px 20px 50px 0px;
    padding: 35px 45px 25px;
    float: left;
    max-width: 250px;
    background-color: #373A36;
}
aside img{
    border: solid 3px black;
}
.right{
    display:inline;
}
aside img{
    margin-bottom: 40px;
}
#rocketImg{
    margin-top: 60px;
}
.gallery{
    display: inline-block;
    max-width: 100%;
}
.desc{
    text-align: center;
    font-size: 25px;
}
div a img{
    margin-left: 90px;
    border: solid 2px black;
}
div p{
    border-radius: 10%;
    background-color: #373A36;
    border: solid 2px black;
    margin-left: 90px;
    max-width: 250px;
    box-shadow: 5px 5px 4px #373A36;
}
.programmingpage{
    margin-left: 177px;
}
h2 img{
    max-width: 100%;
    height: auto;
    box-shadow: 5px 5px 4px #373A36;
}
h2 a{
    border-radius: 0 0 25% 25%;
    padding: 8px 50px;
    background-color: #373A36;
}

